name: Android CI/CD

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Install Android SDK
        uses: android-actions/setup-android@v2

      - name: Grant Execute Permission
        run: chmod +x src/android/gradlew

      - name: Build Mainline Debug APK
        run: |
          cd src/android
          ./gradlew assembleMainlineDebug

      - name: Upload Finished APK
        uses: actions/upload-artifact@v3
        with:
          name: Eden-Huawei-Maleoon-Edition
          path: src/android/app/build/outputs/apk/mainline/debug/*.apk